@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --font-stack: "Press Start 2P", cursive;
  --font-color: rgb(58, 58, 58);
}

body {
  font-family: var(--font-stack);
  color: white;
}

p,
h2 {
  margin: 0;
}

button:hover {
  cursor: pointer;
}

#fade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 5000;
  top: 0;
  right: 0;
}

.scene1,
.scene2,
.scene3,
.ansCol,
.scene4 {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(29, 29, 29);
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.scene2,
.scene3,
.scene4 {
  display: none;
}

.scene3,
.scene4 {
  justify-content: center;
}

.scene4 {
  text-align: center;
  line-height: 1.8rem;
}

.letterDiv {
  height: 40%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 3%;
}

.letterDiv img {
  cursor: pointer;
}

.contentDiv {
  height: 40%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contentDiv div {
  width: 50%;
  padding: 3%;
}
.letterDiv img {
  height: 80%;
}

.scoreDiv,
.messageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message {
  line-height: 1.8rem;
}

#help,
.help {
  position: absolute;
  display: flex;
  top: 0;
  width: 50%;
  right: 0;
  height: 10%;
  align-items: center;
  justify-content: flex-end;
}

.capture {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 1%;
}

#help img,
.help img {
  height: 70%;
  width: auto;
}

#help p,
.help p {
  font-family: var(--font-stack);
  color: white;
  margin-right: 1%;
}

.buttons {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: space-around;
}

.buttons button,
.input button {
  font-family: var(--font-stack);
  font-size: 2rem;
  padding: 1% 2%;
  border-radius: 5px;
  border: 0px;
  color: #ffffff;
}

.input button {
  font-size: 1rem;
  padding: 1% 2%;
}

.buttons button:hover,
.input button:hover {
  opacity: 0.8;
}

#yesbut,
.input button {
  background-color: rgb(94, 179, 139);
}
#nobut {
  background-color: rgb(173, 98, 98);
}

#main {
  height: 75%;
}

div.dialog {
  height: 20%;
  width: 60%;
  margin-bottom: 2%;
  position: relative;
  display: flex;
  align-items: center;
}

div.dialog2 {
  height: 20%;
  width: 60%;
  margin-bottom: 2%;
  position: absolute;
  display: flex;
  align-items: flex-end;
}

div.dialog2txt {
  height: 20%;
  width: 60%;
  margin-bottom: 2%;
  position: absolute;
  display: flex;
  align-items: center;
}

#dialogue {
  z-index: 100;
  position: relative;
  margin: 3%;
  font-family: var(--font-stack);
  color: var(--font-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

div.dialog img,
div.dialog2 .td {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.ts {
  height: 220%;
  position: relative;
  z-index: 1000;
}

.dialog2txt p {
  z-index: 1000;
  font-family: var(--font-stack);
  margin-left: 22%;
  color: var(--font-color);
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
}

.input input {
  width: 35%;
  font-family: var(--font-stack);
  font-size: 1rem;
  padding: 1% 1.5%;
  margin: 2% 0;
  border-radius: 5px;
  border: 0;
}
